<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin</title>
</head>
<body>
	<h1>Admin Home</h1>

	<form action="newsong">
		<input type="submit" value="Add Songs">

	</form>
	<br>
	<br />
	<form action="viewsongs">
		<input type="submit" value="View Songs">


	</form>
	<br>
	<br />

	<form action="createplaylists">
		<input type="submit" value="Create Playlists">


	</form>
<br>
	<br />
	<form action="viewplaylists" >
		<input type="submit" value="View Playlists">


	</form>
	<!-- <br>
	<br /> -->
	<!-- <form action="updatesonglists">
		<input type="submit" value="Update Playlists">


	</form> -->
</body>
</html>